[Unit]
Description=Actuated Traffic Signal Controller (ATSC)

[Service]
Type=simple
User=pi
Group=pi
ExecStart=/home/pi/atsc/run.sh
ExecStartPost=/home/pi/atsc/chnice.sh
PIDFile=/home/pi/atsc/atsc.pid
TimeoutSec=5
TimeoutStartSec=5
KillMode=mixed
WorkingDirectory=/home/pi/atsc/
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
