[Unit]
Description=Actuated Traffic Signal Controller (ATSC)
StartLimitBurst=5
StartLimitIntervalSec=80s

[Service]
Type=forking
TimeoutSec=10

WorkingDirectory=/home/atsc/atsc/
ExecStart=/home/atsc/atsc/run_pi.sh
PIDFile=/home/atsc/atsc/atsc.pid

KillMode=mixed
Restart=on-abnormal
RestartSec=16

[Install]
WantedBy=default.target
