[Unit]
Description=Actuated Traffic Signal Controller (ATSC)

[Service]
Type=forking

WorkingDirectory=/home/atsc/atsc-async
ExecStart=/bin/sh /home/atsc/atsc-async/scripts/services/start-controller.sh
ExecStop=/bin/sh /home/atsc/atsc-async/scripts/services/stop-controller.sh

TimeoutSec=30
SuccessExitStatus=1

MemoryMax=64M
CPUQuota=50%

[Install]
WantedBy=default.target
